div.stage {
	background-color: #eee;
	bottom: 15px;
	left: 15px;
	position: absolute;
	right: 15px;
	top: 15px;
}
div.stage div.user-bar {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}
div.stage ol.lists {

}
div.stage ol.lists li {

}
div.stage ol.lists li:hover {
	background-color: #ddd;
}
div.list {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}
div.list-container {
    background-color: #eee;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
div.list ol.tasks li {
	background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 5px 10px;
}
div.list ol.tasks {
    margin-right: 20px;
}